.container {
    padding:20px;
    margin:20px;
    background-color: white;
}

h1 {
    color: green;
    font-weight: bold;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    margin:5px;
    padding:10px;
    background-color: darkgrey;
    color: grey;
    border-top: 5px lightgreen;
}

img {
    margin: 8px;
}

