.container {
    padding:20px;
    margin:20px;
    background-color: white;
}

h1 {
    color: green;
    font-weight: bold;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("file:///Users/joshsteward/Github/Week2HW/HomeworkWk2/cool-background.png");
}

footer {
    padding:10px;
    background-color: darkgrey;
    color: grey;
    border-top: 5px lightgreen;
}

img {
    margin: 8px;
}

